:root {
   --app_color1: #A64AC9;
   --app_color2: #FCCD04;
   --app_color3: #FFB48F;
   --app_color4: #F5E6CC;
   --app_color5: #17E9E0;
 }
 html, body
 {
    height: 100%;
    background-color: var(--app_color4);
 }

 .footer
 {
    background-color: var(--app_color1);
    padding: 30px;
    color: var(--app_color5);
 }

 .navbar-light .navbar-brand
{
   color: var(--app_color3) !important;
}
.nav-item .nav-link
{
   color: var(--app_color4) !important;
   border-right: 2px solid var(--app_color2);
   font-size: 18px;
}

.nav-item .nav-link:hover
{
   color: var(--app_color2) !important;
}

.dropdown-menu
{
   background-color: var(--app_color2);
}

.dropdown-menu .dropdown-item
{
   color: var(--app_color1) !important;
}

.search-button
{
   color: var(--app_color3) !important;
   border: 2px solid var(--app_color3);
}

.quick-links ul li a
{
   font-size: 20px;
   color: var(--app_color5);
}

.quick-links h4
{
   text-align: center;
   color: var(--app_color2);
}

.quick-links ul
{
   margin-top: 50px;
}

.quick-links ul li
{
   margin: 20px;
}

.social-links
{
   text-align: center;
}

.social-links a img
{
   width: 35px;
   height: 35px;
}

.social-links a
{
   margin: 10px;
}

.heading
{
   width: 100%;
   height: 200px;
   background-image: linear-gradient(to right, var(--app_color1) , var(--app_color2), var(--app_color1));
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: white;
   padding-top: 60px;
}

.sub-heading
{
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: var(--app_color1);
   margin: 30px;
   border-bottom: 2px solid var(--app_color2);
}

.social-icon
{
   border: 1px solid var(--app_color5);
}

.info h4
{
   text-align: center;
}

.input-box
{
   width: 300px;
   height: 60px;
   line-height: 40px;
   border: 1px solid var(--app_color5);
   text-decoration: none;
   padding: 10px;
}

.input-box:focus
{
   border: 1px solid var(--app_color5);
   text-decoration: none;
   outline: none;
}

.button
{
   text-decoration: none;
   border: none;
   background-color: var(--app_color5);
   color: #FFFFFF;
   margin: 30px auto;
   width: 250px;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
}
