@import "Global.css";

/* Main View Css */
.carousel-inner
{
    width: 70%;
    left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 500px;
    border: 1px solid black;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
   width: 30px;
   height: 30px;
}

.carousel-control-prev, .carousel-control-next
{
   background-color: var(--app_color3);
   width: 10%;
   height: 40%;
   margin-top: 12%;
}

.news-section-home
{
   /* border-top: 4px solid var(--app_color2); */
   border-bottom: 4px solid var(--app_color2);
}

.single-news-home
{
   /* border: 2px solid var(--app_color1); */
   margin: 30px;
}

.single-news-home a
{
   color: var(--app_color1);
}

/* About View Css */
.progress
{
   height: 30px;
   margin: 30px;
}

/* News */
.single-news
{
   padding: 20px;
}

.pagination
{
   padding-left:100px;
   background-color: var(--app_color2);
}

.pagination li, .pagination a
{
   margin: 20px;
   font-size: 20px;
   color: var(--app_color1);
}

/* Gallery */
.img-container:hover a .gallery-image 
{
   opacity: 0.3;
}
 
.img-container:hover .img-overlay 
{
   opacity: 1;
}
 
.img-overlay 
{
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

.left-section-role
{
   text-align: center;
   font-size: 30px;
   color: var(--app_color1);
   background-color: var(--app_color2);
   height: 100%;
   padding: 0px 0px;
   margin: 0px 0px;
}